@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap');

html {
  font-size: 10px;
}

body {
  position: relative;
  font-family: 'Nunito Sans', sans-serif;
  max-width: 1440px;
}


