
.button {
  @include font(1.5rem, 3.2rem, 700);
  text-align: center;
  border-radius: 0.6rem;
  cursor: pointer;
  height: 4.4rem;
  outline: none;
  border: none;
  &_bordered {
    background: $color-white;
    border: 1px solid $color-brand;
    color: $color-brand;
    padding: 0.6rem 3.4rem;
    &:hover {
      background: $color-background;
      color: $color-brand;
      @extend %transition;
    }
  }
  &_colored {
    background: $color-brand;
    border-color: $color-brand;
    color: $color-white;
    padding: 0.6rem 2.1rem 2rem;
    &:hover{
      background: $color-white;
      color: $color-brand;
      @extend %transition;
    }
  }
  &_long_colored {
    background: $color-brand;
    border: 1px solid $color-white;
    color: $color-white;
    padding: 0.6rem 5rem;
    &:hover {
      background: $color-white;
      border: 1px solid $color-brand;
      color: $color-brand;
      @extend %transition;
    }
  }
  &_long_light {
    background: $color-white;
    border-color: 1px solid $color-white;
    color: $color-brand;
    padding: 0.6rem 2rem 1.9rem;
    &:hover {
      background: $color-brand;
      border: 1px solid $color-white;
      color: $color-white;
      @extend %transition;
    }
  }
}



