//.features_container{
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//}
.features {
  background-color:$color-background;
}

.section__header,
.section__description {
  text-align: center;
}
.section__header {
  padding-top: 7rem;
  margin-bottom: 0;
}

.section__description {
  @include font(1.8rem, 3rem, normal);
  color: $color-text;
}

.layout-3-column {
  @include columns($width: 33.4rem);
  @include font(1.4rem, 2.6rem, normal);
  color: $color-text;
}

.features__header {
  @include flex(flex-start);
}

.features__block {
  background-color: $color-white;
  margin-bottom: 3.1rem;
}

.block__content-wrap {
  padding: 2.5rem 1.8rem 2.5rem 2.5rem;
}

