.sysop {
  background: $color-background;
}

.sysop__container {
  color: $color-white;
  border-radius: 8px;
  background:$color-brand url("/img/icons/features/bglog.png")100% 100% no-repeat;
}



.sysop__logo {
  padding: 4.1rem 0 0 4.8rem;
}

.sysop__rate {
  @include flex(flex-start);
  padding: 0 0 3.5rem 4.8rem;
}

.sysop__description{
  @include font(1.6rem, 2.4rem, normal);
  padding: 2.2rem 0 0.2rem 4.8rem;
}

.sysop__review {
  @include font(1.6rem, 3rem, 800);
  padding-right: 1.5rem;
}


