$color-brand: #0460BA;
$color-background: #F4F5F9;
$color-hading: #1A233B;
$color-text: #35415E;
$color-white: #FFFFFF;
$color-green: #06B247;

$content-width: 1080px;
$tablet-width: 768px;
$mobile-bid-width: 414px;
$mobile-small-width: 320px;

.container {
  max-width: $content-width;
  margin: 0 auto;
  @include media-tablet {
  
  }
}


h1 {
  //$size, $height, $weight, $style
  @include font (6rem, 7.7rem, 800);
  color: $color-hading;
  margin-block-end: 0;
  margin-block-start: 0.67em;
}

h2 {
  @include font (3.4rem, 2.8rem, 800);
}


h4 {
  @include font (1.8rem, 2.2rem, 800);
  color: $color-hading;
}

//TODO: add hovers


a:visited {
  color:$color-hading;
  text-decoration:none
}


